{% extends 'base/base.html' %}
{% load staticfiles %}
{% block header %}
    	<div class="header head-top">
			<div class="container">
				<div class="header-top">
					<div class="logo">
						<a href="{% url 'user:index' %}">装修设计<span>网站</span></a>
					</div>
						<div class="social-icons">
							<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
										<a href="#"><i class="icon3"></i></a>
												<a href="#"><i class="icon4"></i></a>
						</div>
							<div class="clearfix"></div>
				</div>
				<div class="top-menu">
					<span class="menu"><img src="{% static 'images/menu.png' %}" alt=""/>  </span>
						<ul>
						    <li><a href="{% url 'user:index_for_user' %}" >主页</a></li>
                            <li><a href="{% url 'user_center:show' %}" class="active">案例中心</a></li>
                            <li><a href="{% url 'user_center:personal' %}">个人资料</a></li>
                            <li><a href="{% url 'draw:image' %}">在线绘图</a></li>
                            <li><a href="{% url 'user:del_session' %}">退出登录</a></li>
							<script>
							 $("span.menu").click(function(){
							 $(".top-menu ul").slideToggle("slow" , function(){
							 });
							 });
							 </script>
							<!-- //script for menu -->

												<div class="clearfix"></div>
					</ul>
				</div>

{% block content %}
<div class="fir" align="center" style="padding: 60px">

    <div class="sec" style="padding:30px;">
        <p align="center" style="margin-bottom:60px;width:620px;color: red">
            {{ caseName }}
        </p>
        <h3 align="left" style="color: whitesmoke; padding: 30px">案例图片：</h3>
        {% for image in caseImage %}
            <img src="{{ image.image.url }}" width="350px">
        {% endfor %}
        <h3 align="left" style="color: whitesmoke; padding: 30px">案例介绍：</h3>
        <p>
            <textarea rows="16" cols="100" name="case_text"  readonly="readonly" style="border-radius:10px; background-color:#222; color:white;resize:none; border: 2px solid #009688;">{{ caseText }}</textarea>
        </p>
        <h3 align="left" style="color: whitesmoke; padding: 30px">得到的回应：</h3>
        {% if suggNum == 0 %}
            <p>
                <textarea rows="16" cols="100" name="case_text"  readonly="readonly" style="border-radius:10px; background-color:#222; color:white;resize:none; border: 2px solid #009688;">暂时为空，请等待公司用户的回应</textarea>
            </p>
        {% endif %}
        {% if suggNum != 0 %}
        <p>
            {% for sugg in suggestion %}
            <textarea rows="16" cols="100" name="case_text"  readonly="readonly" style="border-radius:10px; background-color:#222; color:white;resize:none; border: 2px solid #009688;">{{ sugg.suggestion }}</textarea>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div style="border:5px solid #1d2821;width:80%;height:70%;border-radius:10px;padding:20px; color: brown">
        <h3 align="left" style="color: whitesmoke; padding: 30px">用户评论：</h3>
        {% if commNum == 0 %}
            <p style="color: whitesmoke; padding-top: 10px">还没有人评论呢！来坐沙发吧</p>
        {% endif %}
        {% if commNum != 0 %}
            {% for comment in comments %}
                <p style="color: whitesmoke; padding: 30px;align-items: left">{{ comment.comment }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div style="padding: 30px">
        <form method="post" action="{% url 'anli:write_comment' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ cid }}" name="cid">
            <p><button type="submit" >发送评论</button></p>
        </form>
    </div>


</div>
{% endblock content%}
            </div>
        </div>
{% endblock header %}