<!DOCTYPE html>
{% load staticfiles %}
{# 注册页面 #}
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>register</title>
<link rel="stylesheet" type="text/css" href="{% static 'login/css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login/css/component.css' %}" />
<!--[if IE]>
	<script src="js/html5.js"></script>
<![endif]-->
    <style type="text/css">
             body{font-size:12px;}
             p,div{margin:0;padding:0}
             .textarea{
                 width:350px;
                 height:100px;
                 position:absolute;
                 border-radius:10px;
                 background-color:#222;
                 color:white;
                 resize:none;
                 border: 2px solid #009688;
                 z-index:9
            }
             .note{
             position:absolute;line-height:20px;padding:3px 5px;
             }
        </style>
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>欢迎你加入我们</h3>
						<form method="post" action="{% url 'user:register_handel_forCom' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="user_kind" value="company_user">
							<div class="input_outer">
								<span class="u_user"></span>
								<input id="n1" name="uname" class="text"   type="text" placeholder="请输入账户">
							</div>
                            <div class="input_outer">
								<span class="u_user"></span>
								<input id="n1" name="company_num" class="text"   type="text" placeholder="请输入公司营业执照编号">
							</div>
                            <div class="input_outer">
								<span class="u_user"></span>
								<input id="n1" name="company_name" class="text"   type="text" placeholder="请输入公司全称">
							</div>
                            <div class="input_outer">
								<span class="u_user"></span>
								<input id="n1" name="mail" class="text"   type="text" placeholder="请输入邮箱">
							</div>

                            <div class="input_kind">

                                <p>*选择公司装修的价格区间</p>
								<select name="price"  >
										<option  value="0-5000">5000元以下</option>
										<option  value="5000-10000">5000到10000元</option>
                                        <option  value="10000-">10000元以上</option>
									</select>
							</div>
                            <div class="input_prise">

                                <p>*选择公司装修的风格</p>
								<select name="style"  >
										<option  value="O">欧美风</option>
										<option  value="D">东方风</option>
									</select>
							</div>
                            <div class="input_image">
                                <p>*上传四张公司装修样例图片</p>
                                <input type="file" name="image01">
                                <input type="file" name="image02">
                                <input type="file" name="image03">
                                <input type="file" name="image04">
                            </div>
                            <div class="input_imageT">

                            </div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input id="n2" name="upwd" class="text"   value="" type="password" placeholder="请输入密码">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input id="n3" name="cpwd" class="text"  value="" type="password" placeholder="请再次输入密码">
								<span class="error">两次输入密码不一致!</span>
							</div>
                            <div class="input_outer_text">
								<div style="position:relative;">
                                    <p>*在这里写入你们公司的简介，将作为审核的依据</p>
                                    <textarea   name="company_text" rows="50" cols="100"     class="textarea"  onfocus="document.getElementById('note').style.display='none'" onblur="if(value=='')document.getElementById('note').style.display='block'"></textarea>

                                </div>
							</div>
							<div class="input_outer">
								<span class="uss_uer"><img src="{% url 'user:verifycode' %}"></span>
                                <input class="text" type="text" value="" name="imgCode" placeholder="请输入验证码">
								<span class="error">验证码错误!</span>
                            </div>



{#							<h5 style="padding-left:62px;">*我已阅读并同意<a href="#" target="_blank" style="color:#0096e6;">《用户协议》</a></h5>#}
{#                            <h5 style="padding-left:62px;">*我们会在五个工作日内对公司用户的资料进行审核，请您及时登陆账号查询</h5>#}
							<div class="mb2">
								<a class="act-but submit" href="javascript:;" style="color: #FFFFFF">
								<input type="submit" value="注册" />
								</a>
							</div>
							<h6 style="padding-left:160px;">
							<a href="login.html"><font color="#0096e6">已有账号？点击登录</font></a>
							</h6>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'login/js/TweenLite.min.js' %}"></script>
		<script src="{% static 'login/js/jquery.min.js' %}"></script>
		<script src="{% static 'login/js/EasePack.min.js' %}"></script>
		<script src="{% static 'login/js/rAF.js' %}"></script>
		<script src="{% static 'login/js/demo-1.js' %}"></script>
{#		<script src="{% static 'login/js/check.js' %}"></script>#}
		<div style="text-align:center;">
		</div>
	</body>
</html>