{% extends 'base/Base.html' %}
{% load staticfiles %}
{% block title %}
    <title>个人中心</title>
{% endblock title %}
{% block header %}
    	<div class="header head-top">
			<div class="container">
				<div class="header-top">
					<div class="logo">
						<a href="{% url 'user:index' %}">装修设计<span>网站</span></a>
					</div>
						<div class="social-icons">
							<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
										<a href="#"><i class="icon3"></i></a>
												<a href="#"><i class="icon4"></i></a>
						</div>
							<div class="clearfix"></div>
				</div>
				<div class="top-menu">
					<span class="menu"><img src="{% static 'images/menu.png' %}" alt=""/>  </span>
						<ul>
						    <li><a href="{% url 'user:index_for_user' %}" >主页</a></li>
                            <li><a href="{% url 'user_center:show' %}" >案例中心</a></li>
                            <li><a href="{% url 'user_center:personal' %}" class="active">个人资料</a></li>
							<li><a href="{% url 'draw:image' %}">在线绘图</a></li>
                            <li><a href="{% url 'user:del_session' %}">退出登录</a></li>

                            {#												<li><a href="{% url 'user:gallery' %}">装修案例</a></li>#}

							<script>
							 $("span.menu").click(function(){
							 $(".top-menu ul").slideToggle("slow" , function(){
							 });
							 });
							 </script>
							<!-- //script for menu -->

												<div class="clearfix"></div>
					</ul>
				</div>
			</div>
		</div>
{% endblock header %}
{% block body %}
	<div class="container">
	<div class="gallery">
		<h3>个人资料</h3>
    <ul>
        <li><h4>用户名：{{ uname }}</h4></li>
        <br/><br/><br/>
        <li><h4>用户种类：普通用户</h4></li>
        <br/><br/><br/>
        <li><h4>邮箱：{{ mail }}</h4></li>
        <br/><br/><br/>
        <li>
            <h4>提交过的案例:</h4>
            <ul>
                <br/>

                {% for case in cases %}
                <li><a href="{% url 'anli:check_case' %}?cid={{ case.id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ case.anli_name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <div align="center">
            <form action="{% url 'user_center:modify_personal' %}">
        <button type="submit" >修改个人资料</button>
                </form>
        </div>
    </ul>
	<!--script-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
			<script type="text/javascript" src="{% static 'js/nivo-lightbox.min.js'%}"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

			<!---->
    </div>
</div>
{% endblock body %}
